body{
  width:100vw;
  height: 100vh;
  background-color: #276749;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23629d81' fill-opacity='0.1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
  margin: 0;
  padding: 0;
}

/*wave animation*/
#wave:hover {
  /*box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);*/
  background-color: #Fff;
  color: #22543D;
  filter: blur(0.5px)

}

#task:hover ~ #icon {
  animation: wave-animation 0.3s infinite;
}


@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}
/*end*/

/*loader*/
.loader-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #Fff;
  display:flex;
  justify-content: center;
  align-items: center;
}
/*end loader*/

#input{
	margin: auto;
	border-radius: 50px;
	background: #22543D;
	box-shadow:  20px 20px 60px #276749;
}

.images{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: 50%;
}

#card{
	margin: auto;
}

.flex-container{
	padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}